<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <title>Registro</title>
    <link rel="stylesheet" th:href="@{/bootstrap/bootstrap.min-cosmo.css}">
    <style>
        .error {
            color: red;
        }
    </style>
</head>
<body>
<div class="container section">
<h2>Introduce un nuevo registro</h2>

<form th:action="@{/registro}" th:object="${persona}" method="post">
    <div class="mb-3">
        <label for="nombre">Nombre: </label>
        <input id="nombre" type="text" th:field="*{nombre}" class="form-control">
        <div th:if="${#fields.hasErrors('nombre')}" th:errorclass="error" th:errors="*{nombre}"></div>
    </div>
    <div class="mb-3">
        <label for="telefono">Telefono: </label>
        <input id="telefono" type="text" th:field="*{telefono}" class="form-control">
        <div th:if="${#fields.hasErrors('telefono')}" th:errorclass="error" th:errors="*{telefono}"></div>
    </div>
    <div class="mb-3">
        <input type="submit" th:value="Guardar" class="btn btn-primary"/>
    </div>
</form>

<h3>Agenda: </h3>

<ul>
    <li th:each="registro : ${listaPersonas}" th:text="${ registro.getNombre() + ' ' + registro.getTelefono()}"  ></li>
</ul>
</div>
</body>
</html>